NAME={{ SIPI_SLAVE1 }}
DEVICE={{ SIPI_SLAVE1 }}
ONBOOT=yes
MTU={{ STORAGE_MTU }}

{% if sipi_bond_method == 'Team' %}

TEAM_MASTER={{ SIPI }}
DEVICETYPE=TeamPort

{% elif sipi_bond_method == 'Bond' %}

SLAVE=yes
MASTER={{ SIPI }}

{% endif %}
